@import '~@angular/material/theming';

@include mat-core();

$theme-charte-primary: mat-palette($mat-green);
$theme-charte-accent:  mat-palette($mat-green);
$theme-charte-warn:    mat-palette($mat-red);

$theme-charte: mat-dark-theme($theme-charte-primary, $theme-charte-accent, $theme-charte-warn);

@include angular-material-theme($theme-charte);