<mat-card class=wrapper>
  <mat-card-header class="header">

    <mat-card-title style="font: 20px 'Arial Narrow', sans-serif; text-transform: uppercase">{{photoTitre}}
    </mat-card-title>
    <mat-card-subtitle style="font: 12px 'Arial Narrow', sans-serif;"> par {{pseudoPhoto}}</mat-card-subtitle>
  </mat-card-header>

  <!-- <input (click)="deletePhoto()" value="supprimer" type="submit"> -->
  <!-- <img mat-card-image src="../../assets/uploadedPhotos/{{photoImage}}"> -->


      <div class="container">
          <img mat-card-image src="../../assets/uploadedPhotos/{{photoImage}}">
         
          <div class="overlay"></div>
          <div class="button"><a (click)="deletePhoto()"> Supprimer </a></div>
        </div>

        <mat-card-content>





    <div class="comment-text-area">
      <textarea rows="5" cols="50" [(ngModel)]="commentaireBox" id="commentaireBox" class="textinput"
        placeholder="Ajouter un commentaire"></textarea>
    </div>


    <input (click)="postCommentaire()" value="Commenter" type="submit">

    <p style="font: 25px 'Arial Narrow', sans-serif; "> COMMENTAIRES : </p>
    <tr *ngFor="let commentaire of stringCommentaire | async ">

      <span style="font: 12px 'Arial Narrow', sans-serif;"> {{commentaire.photographe.pseudo}} : </span>





      <span style="font: 20px 'Arial Narrow', sans-serif;"> {{commentaire.commentaires}} </span>
      <button (click)="deleteCommentaire(commentaire.id)">Supprimer</button>

    </tr>
  </mat-card-content>
</mat-card>