<div class="low">

  <div>
    <span colspan="2" style="font: 20px 'Arial Narrow', sans-serif; text-transform: uppercase">{{photoTitre}} </span>
  </div>
  <div>
    <span colspan="2" style="font: 12px 'Arial Narrow', sans-serif;"> par {{photoPseudo}}</span>
  </div>

  <tr>
    <td colspan="2">
      <img src="../../assets/uploadedPhotos/{{photoImage}}" style="height: 640px; width : auto;" class="center">
    </td>
  </tr>

  <tr>
    <th style="text-align:left">
      <textarea rows="5" cols="153" [(ngModel)]="commentaireBox" id="commentaireBox">Ajouter un commentaire
      </textarea>
    </th>
    <th style=" vertical-align : middle">
      <input (click)="postCommentaire()" type="submit">
    </th>
  </tr>

  <tr>
    <th colspan="2" style="font: 25px 'Arial Narrow', sans-serif;"> COMMENTAIRES : </th>

  </tr>

  <tr *ngFor="let commentaire of stringCommentaire |async ">

    <span style="font: 12px 'Arial Narrow', sans-serif;"> {{photoPseudo}} : </span>
    <span hidden style="font: 12px 'Arial Narrow', sans-serif;"> {{commentaire.id}} : </span>
    <span style="  font: 20px 'Arial Narrow', sans-serif;"> {{commentaire.commentaires}} </span>
    <button (click)="deleteCommentaire(commentaire.id)">Supprimer</button>

  </tr>

</div>