.wrapper{
    display : flex;
    flex-flow : row wrap;
    text-align : left;
}

.wrapper > * {
    padding: 5px;
    flex: 1 100%;
}

.header{
    display : flex;
    flex-direction: column;
   
}

.main{
    
 align-self : flex-start;
}

.title{
    align-self: flex-start;
}
.titre{
    align-self: flex-start;
}

img{
   
    height: 640px; 
    width : auto;  
    border-radius: 5px;
}