<div class="low">

  <table>
    <tr>
      <td colspan="2" style = "font-size: 20px; text-transform: uppercase">{{photoTitre}} </td>
    </tr>
    <tr>
      <td  colspan="2"> {{photoPseudo}}</td>
    </tr>


    <tr>
      <td colspan="2"> <img src="../../assets/uploadedPhotos/{{photoImage}}" style="height: 640px; width : auto;" class="center"> </td>
    </tr>

<tr>
  <th style="text-align:left"> 
    <textarea rows="5" cols="153" [(ngModel)]="commentaireBox" id="commentaireBox">Ajouter un commentaire
      </textarea>
    </th>
    <th style=" vertical-align : middle">
        <input (click)="postCommentaire()" type="submit">
    </th>
</tr>

<tr>
    <th colspan ="2" style="text-align:center"> COMMENTAIRES : </th>
   
</tr>
    <tr *ngFor="let commentaire of stringCommentaire |async ">

      <td colspan="2"> {{commentaire}}</td>
    

    </tr>
  </table>


</div>