<div class="container1">
  <div class="item1">
   

        <span class="logo">

          <span class="word1">iSO</span>

          <span class="word2">PHOTO</span>

        </span>

  </div>
  <div class="item2">


    <span style="left: 65%; " *ngIf="isPhotographe || isAdmin"> Bienvenue {{this.thisIsPseudo}}

    </span>

  </div>
  <div class="item3">
    <mat-toolbar-row>

    </mat-toolbar-row>

    <mat-toolbar-row class="bouton">

      <button mat-button (click)="clearStorage()" routerLink="/">ACCUEIL</button>

      <!-- <button mat-button *ngIf="isPhotographe || isAdmin" routerLink="/profil" (click)="clearStorage()">FAIRE UN
        DON</button> -->

      <button mat-button *ngIf="isPhotographe || isAdmin" routerLink="/photos" (click)="clearStorage()">MES
        PHOTOS</button>

      <button mat-button *ngIf="isPhotographe || isAdmin" routerLink="/upload" (click)="clearStorage()">POSTER UNE
        PHOTO</button>

      <button mat-button *ngIf="!isPhotographe && !isAdmin" routerLink="/signup"> M'INSCRIRE</button>

      <button mat-button *ngIf="!isPhotographe && !isAdmin" routerLink="/signin"> ME CONNECTER</button>

      <button mat-button *ngIf="(isPhotographe || isAdmin) && (!isPhotographe || !isAdmin)" (click)="logout()"
        routerLink="/signin"> ME DECONNECTER</button>

    </mat-toolbar-row>
  </div>
</div>