
<div>
  <mat-toolbar color="primary">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <a mat-button class="companyName" routerLink="/">
      <span>
        <span>iSO</span>
        <span>PHOTO</span>
      </span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button *ngIf="isPhotographe || isAdmin" routerLink="/photos">Mes photos</a>
      <a mat-button *ngIf="isPhotographe || isAdmin" routerLink="/upload">Ajouter une photo</a>
      <a mat-button *ngIf="!isPhotographe && !isAdmin" routerLink="/signup">M'inscrire</a>
      <a mat-button *ngIf="!isPhotographe && !isAdmin" routerLink="/signin">Me connecter</a>
      <a mat-button *ngIf="(isPhotographe || isAdmin) && (!isPhotographe || !isAdmin)" routerLink="/signin">Me déconnecter</a>
    </div>

  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button *ngIf="isPhotographe || isAdmin" routerLink="/photos">Mes photos</a>
        <a mat-button *ngIf="isPhotographe || isAdmin" routerLink="/upload">Ajouter une photo</a>
        <a mat-button *ngIf="!isPhotographe && !isAdmin" routerLink="/signup">M'inscrire</a>
        <a mat-button *ngIf="!isPhotographe && !isAdmin" routerLink="/signin">Me connecter</a>
        <a mat-button *ngIf="(isPhotographe || isAdmin) && (!isPhotographe || !isAdmin)" routerLink="/signin">Me déconnecter</a>
      </div>
    </mat-sidenav>

  </mat-sidenav-container>
</div>


<!-- <mat-sidenav-content fxFlexFill>
                  Awesome content
                </mat-sidenav-content> -->