/* .companyName{
  font-size: 150%;
  color:white;
}

.mat-toolbar{
height: 7vh;
}

div {
  overflow: inherit;
}

.mat-sidenav-container{
background-color: rgb(50, 63, 71);
min-height: 10vh !important;
}

a{
  text-decoration: none;
  font-size: 110%;
  white-space: normal;
}

button{
  font-size: 110%;
  min-width: min-content;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.mat-sidenav-content{
    font-size: 200%;
    text-align: center;
} */

  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
    }
    
    @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
    }
    
    .flex-spacer {
      flex: 1 1 auto;
    }
  
    .cart-title {
      font-family: 'Times New Roman', Times, serif;
      font-size: 1O px;
      padding-left: 15px;
    }
  