.bouton{
  color:white
}

.toolbar{
  color:white;
  /* position : fixed; */
  padding: 5px 5px;
  margin-bottom: 5px;
    top: -25px;
    left:0px; 
  width : 100%;
  background-image: url("../../assets/oldtimer-4190813_1920.jpg")
  
}


.logo {
  font: 50px 'Arial Narrow', sans-serif;/* I picked this font because it's the closest looking 'web safe' font http://cssfontstack.com/ */
  color: #fefefe;
 
  letter-spacing: -4px;
}

/* stuff for both words */
.logo span {
  position: relative;
}


/* stuff for 1st word */
.logo .word1 {
  color: #116b25;
  top:10px;
  font-size: 45px;
  
  margin-right: -12px;
  display: inline-block;/* required for transform */
  z-index: 10;/* stack 1st word on top */
}



/* stuff for 2nd word */
.logo .word2 {
  font-size:45px;
  z-index: 20;/* stack 2nd word below */
  top:25px;
}
