<mat-nav-list>
  <div>
    <a *ngIf="isPhotographe || isAdmin" class="docs-navbar-hide-small docs-button mat-button ng-star-inserted"  _ngcontent-cl="" mat-button=""
      tabindex="0" aria-disabled="false" routerLink="/photos">


      Mes photos
      <mat-icon>person</mat-icon>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </a>
  </div>
  <div>
      <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" _ngcontent-cl="" mat-button=""
        tabindex="0" aria-disabled="false" (click)="onHome('')">
        <mat-icon>person</mat-icon>
        <div class="mat-button-ripple mat-ripple" matripple=""></div>
        <div class="mat-button-focus-overlay"></div>
      </a>
    </div>
    <div>
        <a class="docs-navbar-hide-small docs-button mat-button ng-star-inserted" _ngcontent-cl="" mat-button=""
          tabindex="0" aria-disabled="false" (click)="onHome('')">
          <mat-icon>person_add</mat-icon>
          <div class="mat-button-ripple mat-ripple" matripple=""></div>
          <div class="mat-button-focus-overlay"></div>
        </a>
      </div>
</mat-nav-list>

