
   .top{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }

  img{
     height: 250px;
  }

  a:hover{
    cursor: pointer;
  }

.items{
 flex-flow: row;
 
 margin :2px;
 
}

.titre{
  
    display :flex ;
   align-self: center;
}