
   .top{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
     background-color: rgb(55, 61, 59);
  }

   img{
      height: 340px;
      border-radius: 5px;
   }

   a:hover{
     cursor: pointer;
   }

.items{
  flex-flow: row;
 
  
  margin :2px;
  
}