.container{
    display: flex;
    flex-direction: column;
  }

img{
  display:flex;
  align-self: center;
  height: auto;
  width : 60%;
 
  }



body
{
  background:#fff;
  font-family:'Lato';
  margin:0;
  padding:0;
}

.menu
{
  background:#474849;
  color:#fff;
  height:70px;
  position:relative;
}