.container{
    display: flex;
    flex-direction: column;
  }

img{
  height: auto;
  width : 640px;
 
  }

.previz1{

  display: block;
  margin-left: auto;
  margin-right:auto;


  position : absolute;
  
  width: 120px;
       
  display: table;
  margin: 0 auto;
}

.previz{
  display: block;
  margin-left: auto;
  margin-right:auto;
  width : 100%;


}