.container{
    display: flex;
    flex-direction: column;
  }

img{
  height: auto;
  width : 640px;
 
  }

.previz1{

  
  display: flex;
    
  flex-direction: column;
align-items: stretch;

  
       
}